.search {
  position: relative;
  width: 30%; // Заменяет @apply w-80 (1rem = 4px, 20rem = 80px)// Заменяет @apply relative

  > div {
    position: relative;
  }
  &::before {
    content: "";
    // border-radius: 45%;
    background-color: rgba(
      215,
      232,
      221,
      0.5
    ); // Заменяет @apply bg-light-green
    width: 25rem; // Заменяет @apply w-80 (1rem = 4px, 20rem = 80px)
    height: 25rem; // Заменяет @apply h-80
    border-radius: 50%; // Заменяет @apply rounded-full
    position: absolute; // Заменяет @apply absolute
    top: -500%;
    left: -35%;
  }
}
