// @tailwind utilities;

// /* Переменные CSS */
// :root {
//   --background: #ffffff;
//   --foreground: #171717;
//   --font-sans: "Arial", sans-serif;
//   --font-mono: "Courier New", monospace;
// }

// /* Темная тема */
// @media (prefers-color-scheme: dark) {
//   :root {
//     --background: #0a0a0a;
//     --foreground: #ededed;
//   }
// }

// /* Применение */
// body {
//   background: var(--background);
//   color: var(--foreground);
//   font-family: var(--font-sans);
// }

@import "tailwindcss";

// body {
//   background: red;
// }

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
// Глобальные стили для Ant Design
.ant-input {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  position: relative;
}

.ant-input::placeholder {
  // Пример изменения цвета placeholder
  font-style: italic; // Пример изменения стиля текста
}
.ant-input-search-button {
  background-color: #302ee7; /* Темно-синий цвет */
  border-color: #302ee7; /* Темно-синий цвет для рамки */
}

.ant-input-search-button:hover {
  background-color: #00008b; /* Немного светлее при наведении */
  border-color: #00008b;
}
