# игнорируемые файлы и каталоги
*.zip
*.log
node_modules/

# зависимости
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# тестирование
/coverage

# для Next.js
/.next/
/out/

# для продакшн сборок
/build

# различные
.DS_Store
*.pem

# для отладки
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# файлы окружения (можно опционально коммитить, если нужно)
.env*

# для Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
